body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#remote-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
}

button {
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  background-color: #f0f0f0;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.7s ease;
}

button:hover {
  background-color: #ddd;
}

#power-button {
  background-color: #ff0000;
  color: #fff;
}

#source-button {
  background-color: #808080;
  color: #fff;
}

#tv-button {
  background-color: #4d4dff;
  color: #fff;
}

#netflix-button {
  background-color: #e50914;
  color: #fff;
}

#disney-button {
  background-color: #1f8b4c;
  color: #fff;
}

#volume-plus {
  background-color: #4d4dff;
  color: #fff;
}

#volume-minus {
  background-color: #4d4dff;
  color: #fff;
}

#sound-options {
  background-color: #808080;
  color: #fff;
}

#video-options {
  background-color: #808080;
  color: #fff;
}

.digit-button {
  font-size: 25px;
}

@media screen and (max-width: 500px) {
  button {
    font-size: 16px;
    padding: 8px 16px;
  }
}

